:root {
    --text:#08312b;
    --background:#dddfc2;
  }

body {
    background-color:var(--background);
}

h1 {
    color:var(--text)
}

figcaption {
    background-color: var(--text);
    color: var(--background);
    width: 512px;
}

.content {
    display: flex;
    flex-direction: row;
} 
